<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sepetim</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="https://images.hepsiburada.net/assets/sfstatic/Content/images/favicon-32x32-new.png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="top-bar" style="height: 120px;">
        <div class="first-line" style="height: 140px;">
            <div class="logo">
                <a href="/home" class="hepsiburada logocart" style="font-size: 35px;">hepsiburada</a>
                <div class="logo-bot">
                    <span class="kesfet">keşfet</span>
                    <a href="#" class="prem">Premium'u</a>
                </div>
            </div>
            <div class="category">
                <button>Kategoriler</button>
            </div>
            <div class="searchdiv">
                <input type="search" placeholder="Ürün, kategori veya marka ara">
            </div>
            <div class="myorders">
                <button><i class="fa-solid fa-bag-shopping" style="margin-right: 5px;"></i>  Siparişlerim</button>
            </div>
            <div class="profile">
                <button>FT</button>
            </div>
        </div>
        <hr>
    </div>
    <div class="contentside" style="background-color: white; padding: 0; padding-top: 50px;">
        <div class="cartlist" style="text-align: center; padding: 0;">
            <p style="font-size: 50px; margin-bottom: -20px;"><i class="fa-solid fa-cart-shopping"></i></p>
            <h1 style="color: #3a3a3a;;">Sepetin şu an boş</h1>
            <p style="color: #3a3a3a;;">Sepetini Hepsiburada’nın fırsatlarla dolu dünyasından doldurmak için <br>aşağıdaki ürünleri incelemeye başlayabilirsin.</p>
        </div>
    </div>
</body>
</html>