{% extends "layout.html" %}

{% block body_content %}

    <div class="contanier">
        <div class="images">
            <img src="https://images.hepsiburada.net/banners/s/1/180-180/elektronik_bu_fiyatlar_kacmaz_tr_(1)133736401715846554.png" alt="" class="firsat">
            <img src="https://images.hepsiburada.net/banners/s/1/180-180/gra-179672-supermarket-tr133733772584145634.png/format:webp" alt="" class="firsat">
            <img src="https://images.hepsiburada.net/banners/s/1/180-180/hb_premium_tr_yaz_template_(2)133670701122233129133734174297284829.png/format:webp" alt="" class="firsat">
            <img src="https://images.hepsiburada.net/banners/s/1/180-180/gra-180641-hepsipay-tr_(1)133741636579887461.png/format:webp" alt="" class="firsat">
            <img src="https://images.hepsiburada.net/banners/s/1/180-180/gra-178654-samsung-tr-2133733857438747916.png/format:webp" alt="" class="firsat">
            <img src="https://images.hepsiburada.net/banners/s/1/180-180/gra-180657-hepsiglobal-tr_(1)133741568351676026.png/format:webp" alt="" class="firsat">
            <img src="https://images.hepsiburada.net/banners/s/1/180-180/geldim_gordum_aldim_tr_(24)133736528225316631.png/format:webp" alt="" class="firsat">
            <img src="https://images.hepsiburada.net/banners/s/1/180-180/p&g-guzellik-haftasi-tr133739648327591583.png/format:webp" alt="" class="firsat">
            <img src="https://images.hepsiburada.net/banners/s/1/180-180/gra-179285-huawei-tr133733867688276235.png/format:webp" alt="" class="firsat">
            <img src="https://images.hepsiburada.net/banners/s/1/180-180/skechers_35e_varan_tr133685227834634552133734516028439372.png/format:webp" alt="" class="firsat">
            <img src="https://images.hepsiburada.net/banners/s/1/180-180/gra-179857-sincap_kitap-tr133736188628738792.png/format:webp" alt="" class="firsat">
            <img src="https://images.hepsiburada.net/banners/s/1/180-180/gra-179787-bosch-tr133736410918149065.png/format:webp" alt="" class="firsat">
        </div>

        <div class="slider">

        <div class="slideshow-container">

            <div class="mySlides fade">
              <div class="numbertext">1 / 8</div>
              <img src="https://images.hepsiburada.net/banners/s/1/819-357/app_curation133692288001571387.png/format:webp" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <div class="numbertext">2 / 8</div>
              <img src="https://images.hepsiburada.net/banners/s/1/819-357/appbanner133734615630371119.jpg/format:webp" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <div class="numbertext">3 / 8</div>
              <img src="https://images.hepsiburada.net/banners/s/1/819-357/appbanner_(33)133735413287398092.png/format:webp" style="width:100%">
            </div>

            <div class="mySlides fade">
                <div class="numbertext">4 / 8</div>
                <img src="https://images.hepsiburada.net/banners/s/1/819-357/app133723233389275648.png/format:webp" style="width:100%">
            </div>
            <div class="mySlides fade">
                <div class="numbertext">5 / 8</div>
                <img src="https://images.hepsiburada.net/banners/s/1/819-357/teaser_app_banner_(1)133739964604308859.png/format:webp" style="width:100%">
            </div>
            <div class="mySlides fade">
                <div class="numbertext">6 / 8</div>
                <img src="https://images.hepsiburada.net/banners/s/1/819-357/appbanner133741370399261638.png/format:webp" style="width:100%">
            </div>
            <div class="mySlides fade">
                <div class="numbertext">7 / 8</div>
                <img src="https://images.hepsiburada.net/banners/s/1/819-357/gra-179951-appbanner133741905862925890.jpg/format:webp" style="width:100%">
            </div>
            <div class="mySlides fade">
                <div class="numbertext">8 / 8</div>
                <img src="https://images.hepsiburada.net/banners/s/1/819-357/appbanner133728649222004627.png/format:webp" style="width:100%">
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
            
            </div>
            <br>
            
            <div style="text-align:center" class="all-dot">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
              <span class="dot" onclick="currentSlide(4)"></span> 
              <span class="dot" onclick="currentSlide(5)"></span> 
              <span class="dot" onclick="currentSlide(6)"></span> 
              <span class="dot" onclick="currentSlide(7)"></span> 
              <span class="dot" onclick="currentSlide(8)"></span> 
            </div>
    </div>

    <div class="gununfirsatlari">
        <img src="https://images.hepsiburada.net/banners/s/1/978-714/Gunun_Firsatlari_Reco133735257768454789.jpg" alt="" class="g-firsat">
        <div class="blank-white"></div>
        <div class="center">
            <div class="paradox">
            <div class="carousel-wrapper">
              <!-- abstract radio buttons for slides -->
              <input id="slide1" type="radio" name="controls" checked="checked" />
              <input id="slide2" type="radio" name="controls" />
              <input id="slide3" type="radio" name="controls" />
              <input id="slide4" type="radio" name="controls" />
              <input id="slide5" type="radio" name="controls" />
          
              <!-- navigation dots -->

          
              <!-- arrows -->
              <label for="slide1" class="left-arrow"> < </label>
              <label for="slide2" class="left-arrow"> < </label>
              <label for="slide3" class="left-arrow"> < </label>
              <label for="slide4" class="left-arrow"> < </label>
              <label for="slide5" class="left-arrow"> < </label>
          
              <label for="slide1" class="right-arrow"> > </label>
              <label for="slide2" class="right-arrow"> > </label>
              <label for="slide3" class="right-arrow"> > </label>
              <label for="slide4" class="right-arrow"> > </label>
              <label for="slide5" class="right-arrow"> > </label>
          
              <div class="carousel">
                <ul>
                  <li>
                    <!--<img src="img/1.png" />-->
                    <div class="background-white first-white">
                        <img src="https://productimages.hepsiburada.net/s/471/104-132/110000512511960.jpg/format:webp" alt="" 
                        style="
                        box-sizing: content-box;
                        width: 100px;
                        margin-top: 20px;
                        margin-left: 10px;
                        ">
                        
                        <p class="title-p">Letoon Erkek Outdoor Bot</p>
                        <p class="price">799 TL</p>
                            <div class="firsati-kacirma">
                                <a href="#" class="firsat-kacmaz">Fırsatı Kaçırma</a>
                            </div>
                        <div class="background-white second-white">
                            <img src="https://productimages.hepsiburada.net/s/517/104-132/110000573150806.jpg/format:webp" alt=""
                            style="
                            box-sizing: content-box;
                            width: 100px;
                            margin-top: 14px;
                            margin-left: 10px;
                            " 
                            >
                            <p class="title-p">Karaca Markalı Ürünlerde</p>
                        <p class="price">Erken İndirim Fırsatları !</p>
                            <div class="firsati-kacirma">
                                <a href="#" class="firsat-kacmaz">Fırsatı Kaçırma</a>
                            </div>
                        </div>
                    </div>
                  </li>
                  <li>
                        <div class="background-white second-white third">
                            <img src="https://productimages.hepsiburada.net/s/777/104-132/110000713446463.jpg/format:webp" alt=""
                            style="
                            box-sizing: content-box;
                            width: 100px;
                            margin-top: 14px;
                            margin-left: 10px;
                            " 
                            >
                            <p class="title-p">Seyir keyfini arttıracak TV'lerde</p>
                        <p class="price">Stoklarda sınırlı fırsatlar</p>
                            <div class="firsati-kacirma">
                                <a href="#" class="firsat-kacmaz">Fırsatı Kaçırma</a>
                            </div>
                        </div>
                  </li>
                  <li>
                    
                        <div class="background-white second-white fourth">
                            <img src="https://productimages.hepsiburada.net/s/777/104-132/110000668052085.jpg/format:webp" alt=""
                            style="
                            box-sizing: content-box;
                            width: 100px;
                            margin-top: 14px;
                            margin-left: 10px;
                            " 
                            >
                            <p class="title-p">Seçili televizyonlarda</p>
                        <p class="price">5000 TL kupon fırsatı!</p>
                            <div class="firsati-kacirma">
                                <a href="#" class="firsat-kacmaz">Fırsatı Kaçırma</a>
                            </div>
                        </div>
                  </li>
                  <li>
                    <div class="background-white second-white fiveth">
                        <img src="https://productimages.hepsiburada.net/s/476/104-132/110000518816982.jpg/format:webp" alt=""
                        style="
                        box-sizing: content-box;
                        width: 100px;
                        margin-top: 14px;
                        margin-left: 10px;
                        " 
                        >
                        <p class="title-p">Seçili Karaca Ürünlerinde</p>
                    <p class="price">2 Al 1 Öde</p>
                        <div class="firsati-kacirma">
                            <a href="#" class="firsat-kacmaz">Fırsatı Kaçırma</a>
                        </div>
                    </div>
                  </li>
                  <li>
                    <img src="https://images.ctfassets.net/9l3tjzgyn9gr/photo-157575/d224d518da6c26515a470a9b7e490df8/157575-honey-bun-baby.jpg?fm=jpg&fl=progressive&q=50&w=1200" alt="">
                  </li>
                </ul>
              </div>
            </div>
        </div>
          </div>
    </div>


        <div class="row">
            {% for product in products %}
            
                {% if loop.index % 10 == 1 %}
                <div class="ads">
                    <img src="https://images.hepsiburada.net/banners/s/1/424-185/gra-179693-appbanner133735360875026452.jpg/format:webp" alt="" style="
                        margin-bottom: 340px;
                        margin-left: 8px;
                        margin-right: 12px;
                        ">
                    <img src="https://images.hepsiburada.net/banners/s/1/424-185/App_Banner_V2_(1)133682914801664625.png/format:webp" alt="" style="
                    margin-bottom: 340px;
                    margin-left: 8px;
                    margin-right: 12px;
                    ">
                    <img src="https://images.hepsiburada.net/banners/s/1/424-185/appbanner133733649921965268.png/format:webp" alt="" style="
                    margin-bottom: 340px;
                    margin-left: 8px;
                    ">
                </div>
                    <div class="product">
                        <a href="/urun/{{ product[0] }}" style="text-decoration: none;">
                        <div class="pop-cart testclass">
                            <div class="urunimage" style="text-align: center;">
                                <img src="{{ product[5] }}" alt="" style="width: 150px; margin-top: 10px;">
                                <img src="https://images.hepsiburada.net/banners/s/1/158-158/app_(8)133610058714735287.png" alt="" style="
                                width: 45px;
                                position: absolute;
                                top: 8px;
                                left: 8px;
                                
                                ">
                                <div class="like-heart">
                                    <i class="fa-regular fa-heart like"></i>
                                </div>
                            </div>
                            <div class="descreption">
                                <div class="taksit-back" style="width: 90px;">
                                    <p class="taksit-text">12 taksitle öde</p>
                                </div>
                                <p class="desc-txt">{{ product[1] }} {{ product[2] }}</p>
                            </div>
                            <div class="stars">
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-regular fa-star-half-stroke star"></i>
                                <span class="rating">{{ product[7] }}</span>
                            </div>
                            <div class="price-cart">
                                {% if product[4] == "0" %}
                                    
                                {% else %}
                                    <span class="old-price">{{ product[4] }} TL</span>
                                    <span class="yuzde">%{{ product[8] }}</span>
                                {% endif %}
                                
                                <p class="new-price" style="margin-bottom: 10px;">{{ product[3] }} TL</p>
                            </div>
                        </a>
                            <div class="add-cart">
                                <form method="post">
                                    <button type="submit" class="add-cart-btn" name="addcart" value="{{ product[0] }}">Sepete Ekle</button>
                                </form>
                            </div>
                    </div>
                {% else %}
                    <div class="product">
                        <a href="urun/{{ product[0] }}" style="text-decoration: none;">
                        <div class="pop-cart testclass">
                            <div class="urunimage" style="text-align: center;">
                                <img src="{{ product[5] }}" alt="" style="width: 150px; margin-top: 10px;">
                                <img src="https://images.hepsiburada.net/banners/s/1/158-158/app_(8)133610058714735287.png" alt="" style="
                                width: 45px;
                                position: absolute;
                                top: 8px;
                                left: 8px;
                                
                                ">
                                <div class="like-heart">
                                    <i class="fa-regular fa-heart like"></i>
                                </div>
                            </div>
                            <div class="descreption">
                                <div class="taksit-back" style="width: 90px;">
                                    <p class="taksit-text">12 taksitle öde</p>
                                </div>
                                <p class="desc-txt">{{ product[1] }} {{ product[2] }}</p>
                            </div>
                            <div class="stars">
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-solid fa-star star"></i>
                                <i class="fa-regular fa-star-half-stroke star"></i>
                                <span class="rating">{{ product[7] }}</span>
                            </div>
                            <div class="price-cart">
                                {% if product[4] == "0" %}
                                    <span class="old-price" style="display: none;"></span>
                                    <span class="yuzde" style="display: none;"></span>
                                {% else %}
                                    <span class="old-price">{{ product[4] }} TL</span>
                                    <span class="yuzde">%{{ product[8] }}</span>
                                {% endif %}
                                
                                <p class="new-price" style="margin-bottom: 10px;">{{ product[3] }} TL</p>
                            </div>
                        </a>
                            <div class="add-cart">
                                <form method="post">
                                    <button type="submit" class="add-cart-btn" name="addcart" value="{{ product[0] }}">Sepete Ekle</button>
                                </form>
                            </div>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
    </div>
        

    <div style="height: 2000px; width: 1000px;"></div>

</div>


    


{% endblock %}
