<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
    <link rel="stylesheet" href="/static/panelcss.css">
</head>

<body>
    
    <form action="" method="post">
        <input type="text" name="creator" placeholder="Yapımcı">
        <input type="text" name="urunad" placeholder="Ürün İsmi">
        <input type="text" name="urunprice" placeholder="Ürün Fiyatı">
        <input type="text" name="urunoldprice" placeholder="Ürün Eski Fiyatı">
        <input type="text" name="urunimg" placeholder="Ürün Resmi">
        <input type="text" name="urunrating" placeholder="Ürün Değerlendirme(5)">
        <input type="text" name="urundegerlendirme" placeholder="Ürün Değerlendirme">
        <select name="" id="">
            <option value="efsanefiyat">Efsane Fiyat</option>
            <option value="kuponluurun">Kuponlu Ürün</option>
            <option value="avantajli">Avantajlı</option>
            <option value="cokavantajli">Çok Avantajlı</option>
        </select>
        <input type="submit" name="" id="" value="Getir">
    </form>

</body>
</html>